@font-face {
    font-family: 'PP Playground';
    src: url('/Users/gloriaguan/Desktop/cif25/entries/six/fonts/PPPlayground-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Lettra Mono';
    src: url('/Users/gloriaguan/Desktop/cif25/entries/six/fonts/PPLettraMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

.frame {
  position: relative;
  padding-top: 10px;
  display: inline-block;
}

.frame {
  width: 640px;            /* match your frame image width */
  height: 360px;           /* match your frame image height */
  position: relative;
  background-image: url('imgs/camcorder_.png'); 
  background-size: cover;
  background-position: center;
  overflow: hidden;
  left: 25%;
}

/* video sits inside and is sized to fill the visible opening */
.frame-video {
  position: absolute;
  left: 23%;               /* tweak to align inside the opening */
  top: 35%;
  width: 60%;
  height: 60%;
  object-fit: cover;      /* 'cover' fills, 'contain' fits whole video */
  display: block;
  background: black;
}

.special-letter {
    font-family: "PP Playground", cursive;
    font-size: 86px;
    font-weight: 400;
    font-style: normal;
}

h1{
    text-align: center;
    line-height: 80%;
    color: rgb(82, 109, 33);
    font-size: 52px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

h2{
    text-align: left;
    color: rgb(82, 109, 33);
    font-size: 18px;
    font-style: bold, italic;
    font-family:'PP Lettra Mono', serif;
}

p{
    text-align: left;
    color: rgb(82, 109, 33);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}